<?php

function getConnection() {
    $host = 'SEU_HOST'; // localhost ou IP do banco
    $db   = 'SEU_BANCO';
    $user = 'SEU_USUARIO';
    $pass = 'SUA_SENHA';
    $port = 3306;

    $conn = new mysqli($host, $user, $pass, $db, $port);
    $conn->set_charset('utf8mb4');

    if ($conn->connect_error) {
        die(json_encode([
            "error" => "Erro na conexão",
            "details" => $conn->connect_error
        ]));
    }

    return $conn;
}